<%- include('../../partials/header-admin.ejs') %>
<div class="container">

  <%- include('../../partials/head-admin.ejs') %> 
  <div class="categories">
    <h1>Página de cadastro de notícias</h1>
    <div class="formulario">
        <form action="/admin/articles/save" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Título</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Digite o titulo da noticia">
              <small id="emailHelp" class="form-text text-muted">O Slug da notícia será cadastrado automáticamente.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Sub-titulo</label>
                <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder="Digite o subtitulo da noticia">
          </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Categoria</label>
                <select class="form-control"  name="category" id="category">
                    <option value="#">Selecione a categoria</option>
                    <% categories.forEach((category) => { %>
                      <option value="<%= category.id %>"><%= category.title %></option>
                   <% }) %>
               </select>
            </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Imagem Pricipal</label>
                <input type="text" class="form-control" id="image" name="image" placeholder="Cole o link da imagem">
             </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Notícia Completa</label>
                <textarea name="body" id="body" cols="30" rows="20" class="form-control"></textarea>
              </div>
            <button type="submit" class="btn btn-dark">Cadastrar</button>
          </form>
    </div>
  </div>      
  
</div>
<br><br><br><br>
<%- include('../../partials/footer-admin.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
tinymce.init({
  selector:'#body',
  skin: "oxide-dark",
content_css: "dark",
plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table paste",
        "emoticons"
    ],
    toolbar: "insertfile undo redo | styleselect | bold italic underline| alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media emoticons"
});

</script>